body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  .montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .header {
    width: 100vw;
    background-image: url(https://i.postimg.cc/T1Rgz7bs/emc-Banner-Website.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    object-fit: cover;
    aspect-ratio: 4;
  }

  .text-header {
    color: rgb(120, 255, 107);
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 35px rgba(160, 255, 151, 0.75);
  }

  .news-header {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
    text-shadow: 0 0 35px rgba(255, 255, 255, 0.75);
  }

  .news-article {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: all 0.3s ease;
  }

  .news-article:hover {
    transform: scale(1.1);
  }

  .news-date {
    color: rgba(255, 255, 255, 0.493);
    font-size: 2rem;
    text-align: center;
  }

  .text-paragraph {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  .body-text {
    margin: 0;
    padding: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .topbar {
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: row;
  }

  .topbar-item {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 35px rgba(255, 255, 255, 0.75);
    text-decoration: none;
    display: block;
    flex-grow:1;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.4rem;
    margin: 0.2rem;
    border-radius: 1rem;
  }

  .topbar-item:hover {
    color: rgb(120, 255, 107);
    text-shadow: 0 0 35px rgba(160, 255, 151, 0.75);
    background-color: rgba(15, 31, 16, 0.5);
  }

  .bg {
    background-image: url(https://i.postimg.cc/vBskgVCs/2024-10-17-14-41-09-22.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    filter: blur(5px) opacity(0.5);
    z-index: -1;
  }